body {
  /* background: #fafafa; */
  color: #333333;
  margin-top: 5rem;
  background: #1e5799;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #3d3d3e;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#email {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.email-label {
  border: none;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.email-submit {
  padding-inline-start: 40px;
  text-align: center;
}

.email-submit input {
  padding: 10px;
  border-radius: .3rem;
  transition: 0.2s ease-in-out;
}

.email-header {
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  #email {
    width: 100%;
  }

  .email-submit,
  #email,
  .email-form {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  #email {
    font-size: 14px;
  }
}
