{% extends "layout.html" %}

{% block content %}


	<div class="content-section">
		<form method="POST" action="">
			<fieldset class="form-group">
				<dir class="form-group email-form">
					{{ form.hidden_tag() }}
					{{ form.email.label(class="form-control email-label") }}
          {{ form.email(
            class="form-control form-control-sm",
            placeholder="Where should we send your invite?") }}
				</dir>
			</fieldset>
			<div class="form-group email-submit">
				{{ form.submit(class="btn-outline-info") }}
			</div>
		</form>
{% endblock content %}
